body {
    transform: none;
    background-color: #b3ffff;
}

.bigger {
    height: 40px;
    width: 40px;
}

.display-none {
    display: none;
}

.container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.align {
    text-align: center;
}